.banner_area {
  .banner_inner {
    background: url('../../../public/img/breadcrumb/checkout-bg.jpg') no-repeat center bottom;
    background-size: cover;
    display: flex;
    min-height: 180px;
    align-items: center;
    .banner_content {

      h2 {
        color: hsl(0, 0%, 100%);
        font-size: 48px;
        margin-bottom: 12px;
        font-weight: 500;
        margin-top: 0;
      }
      .page_link {
        text-align: center;
        a {
          font-size: 14px;
          color: hsl(0, 0%, 100%);
          margin-right: 32px;
          position: relative;
          &:before {
            content: "\f105";
            font-family: 'FontAwesome';
            font-size: 14px;
            position: absolute;
            right: -25px;
            top: 50%;
            transform: translateY(-50%);
          }
          &:last-child {
            &:before {
              display: none;
            }
          }
          &:hover {
            color: hsl(228.9, 100%, 54.3%);
            &:before {

            }
          }
        }
      }
    }
  }
}
