.d-grid-wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  .filter-left {
    padding-right: 30px;
    .filter-block {
      margin-bottom: 30px;
      background-color: white;
      box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.1);
      .filter-title {
        background: #f9f9ff;
        padding-left: 30px;
        font-size: 14px;
        color: $dip;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 60px;
      }
      .filter-list {
        padding: 15px 30px;
        .filter-item {
          margin-bottom: 13px;
          a {
            color: $dip;
            font-size: 14px;
          }
        }
      }
      .filter-list-wrapper {
        border-bottom: 1px solid #eeeeee;
        padding: 15px 30px;
        &:last-child {
          border-bottom: none;
        }
        .title {
          color: $dip;
          font-size: 14px;
          margin-bottom: 22px;
          margin-top: 10px;
        }
      }
    }
  }
}
.wrapper-products {
  .message-no-products {
    border: 1px solid $baseColor;
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    max-width: 720px;
    margin: 0 auto;
  }
}
.pagination {

}

.pagination > button {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #428bca;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 18px;
}

.pagination > button:first-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > button:hover,
.pagination > button:focus{
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}
.product-list-block {
  padding: 60px 0;
  .filter-left {

  }
  .wrapper-products {
    .filter-top {
      background: hsl(240, 100%, 98.8%);
      display: flex;
      padding: 10px 20px;
      margin-bottom: 30px;
    }
  }
}
.pagination-block {
  display: flex;
  padding-left: 0;
  margin: 20px auto;
  justify-content: center;
}

